.wrapper {
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #eaebed;
}

.content {
    width: 1024px;
    padding: 0 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home {
    display: block;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 24px;
    line-height: 27px;
    color: var(--text-primary);
}

.user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.name {
    min-width: 96px;
    max-width: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
}

.avatar {
    position: relative;
    margin-left: 8px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 332px;
    padding: 12px 24px;
    background-color: #eaebed;
    border-radius: 12px;
    position: relative;
}

.icon-search {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.icon-search::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 60%;
    border-left: 1px solid #989898;
}

.input {
    background-color: #eaebed;
    width: 90%;
}

.box {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 8px 0px;
    margin: 0px;
    min-width: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    -webkit-box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
}

.logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    color: #000;

    &:hover {
        background: rgba(22, 24, 35, 0.05);
    }
}

.icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 8px;
}
