.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #eaebed;
}

.container {
    width: 100%;
    display: flex;
}

.login {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eaebed;
}

.name {
    position: absolute;
    top: 27px;
    left: 105px;
    font-weight: 900;
    font-size: 26px;
    line-height: 27px;
}

.gloves {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 426px;
    height: 292px;
}

.label {
    font-weight: 900;
    font-size: 26px;
    line-height: 27px;
}

.icon {
    margin-right: 12px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.banner {
    width: 50%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
