.card {
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.3s linear;
    position: relative;
    padding-top: 133%;
    background-color: #0056f1;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 24px;

    &:hover {
        background-size: 110%;
    }
}

.body {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 8px;
}

.body-label {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.sub-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #cdcdcd;
}

.block {
    display: flex;
    justify-content: center;
}

.control {
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #7a7a7a;
    background-color: #eaebed;
    cursor: pointer;
}
