.wrapper {
    width: 1024px;
    padding: 0 24px;
}

.header {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: center;
}

.image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.name {
    max-width: 120px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-left: 8px;
}

.link {
    display: flex;
    align-items: center;
}

.all-workouts {
    color: #0056f1;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.icon {
    display: flex;
    margin-left: 12px;
}

.container {
    margin-top: 56px;
}

.title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}
