.wrapper {
    width: 1024px;
    padding: 0 24px 0;
}

.container {
    margin-top: 32px;
}

.title {
    font-weight: 900;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 14px;
}

.card {
    position: relative;
    padding-top: 133%;
    background-color: #0056f1;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.label {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    color: #fff;
}

.sub-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #cdcdcd;
}

.content {
    position: absolute;
    padding: 24px 8px;
    inset: 0;
}

.image-workout {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.layout {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60.19%, #000000 166.59%);
}

.navs {
    margin-bottom: 22px;
}

.nav {
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    color: #7a7a7a;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #eaebed;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 8px;
    }

    &.active {
        background-color: #0056f1;
        color: #fff;
    }
}

// Trainer
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainer-card {
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.trainer-image {
    width: 80%;
    border-radius: 50%;
    object-fit: cover;
}

.trainer-image-loader {
    width: 80%;
    padding-top: 80%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.name {
    margin-top: 8px;
    max-width: 80px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.rating {
    margin-top: 6px;
}

.start:not(:last-child) {
    margin-right: 4px;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
}

.loader::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), transparent);
    animation: loading 1s infinite;
}

.trainer-layout {
    position: relative;
    height: 170px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.trainer-avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    width: 133px;
    height: 133px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
}

.trainer-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 18px;
    font-size: 20px;
    color: #d9d9d9;
    font-weight: 700;
    text-align: center;
}

.feature {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    display: flex;
    justify-content: space-between;
}

.inbox {
    cursor: pointer;
    background: #ffffff;
    border-radius: 12px;
    text-align: center;
    min-width: 112px;
    padding: 8px 12px;
    color: #7a7a7a;
    margin-left: 60px;
}

.follow {
    cursor: pointer;
    background: #0056f1;
    border-radius: 12px;
    text-align: center;
    min-width: 112px;
    padding: 8px 12px;
    color: #fff;
    margin-right: 60px;
}

.trainer-block {
    padding: 0 20px;
    margin-top: 50px;
}

.statistics {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type {
    color: #7a7a7a;
}

.desc {
    margin-top: 10px;
    font-size: 14px;
}

.about {
    color: #7a7a7a;
}

.socials {
    display: flex;
    justify-content: center;
}

.social {
    width: 40px;
    height: 40px;
    margin: 10px;
}
